@media (max-width: 1400px) {
  .leads__item-box {
    max-width: 460px;
  }
  .leads__title {
    margin-bottom: 40px;
  }
  .leads {
    padding: 160px 0;
  }
}

@media (max-width: 1200px) {
  .scroll {
    &__left {
      margin-right: 0;
      font-size: 16px;
      line-height: 26px;
    }

    &__item {
      margin-bottom: 40px;
    }

    &__icon {
      margin-top: 10px;
      margin-right: 15px;
    }

    &__title {
      font-size: 28px;
      line-height: 150%;
    }

    &__text {
      font-size: 14px;
      line-height: 180%;
    }
  }

  .benefits {

		&__subtitle {
      font-size: 11px;
      line-height: 160%;
		}

		&__title {
      font-size: 28px;
      line-height: 150%;
      margin-bottom: 0;
		}

		&__name {
      font-size: 28px;
      line-height: 150%;
		}

		&__text {
      font-size: 14px;
      line-height: 180%;
		}

		&__timeline {
      &::after {
        top: 20px;
      }
		}

		&__timeline-item {
      font-size: 16px;
      width: 40px;
      height: 40px;
		}
  }

  .contacts {

		&__title {
      font-size: 28px;
      line-height: 150%;
      margin-bottom: 25px;
		}

		&__subtitle {
      font-size: 14px;
      line-height: 180%;
		}

  }

  .form {
    padding: 30px 70px;

      &__item {

        label {
          font-size: 12px;
          line-height: 180%;
        }

        input, textarea {
          font-size: 14px;
          line-height: 180%;
        }
      }

      &__btn {
        font-size: 14px;
        line-height: 180%;
      }
  }

}

@media (max-width: 991px) {
  .scroll {
    padding-top: 100px;
    padding-bottom: 150px;
    &__container {
      height: auto;
      max-width: 100%;
    }
    &__item {
      flex-direction: column;
      opacity: 1;
    }
    &__left {
      margin-bottom: 52px;
    }
    &__icon {
      margin-bottom: 15px;
      margin-top: 0;
      margin-right: 0;
    }
    &__title {
      margin-bottom: 25px;
    }
  }
  .hero {
    &__slider {
      margin-bottom: 0;
    }

    .swiper-pagination {
      display: none;
    }

    &__head {
      margin-bottom: 40px;
    }

    &__subtitle {
      font-size: 11px;
      line-height: 180%;
      margin-bottom: 8px;
    }

    &__title {
      font-size: 28px;
      line-height: 150%;
    }

    &__btn-box {
      flex-direction: column-reverse;
    }

    &__btn-wrapper {
      margin-left: auto;
      margin-right: auto;
    }


    &__text {
      font-size: 14px;
      margin-bottom: 25px;
      line-height: 180%;
      margin-left: 0;

      &::before {
        width: 143px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -25px;
      }
    }

    &__foot {
      li {
        font-size: 11px;
        line-height: 160%;
      }
    }
  }

  .benefits {
    padding-top: 100px;
    padding-bottom: 150px;

		&__row {
      margin-left: 0;
      margin-right: 0;
		}

		&__item {
      margin-bottom: 40px;
      padding-left: 0;
      padding-right: 0;
      &:last-child {
        margin-bottom: 0;
      }
		}

		&__title {
      margin-bottom: 10px;
		}

		&__icon {
      margin-bottom: 10px;
      svg {
        width: 22px;
        height: auto;
      }
		}

		&__name {
      margin-bottom: 25px;
		}

		&__timeline {
      display: none;
		}

  }

  .contacts {
    background-color: $main;
    padding-bottom: 130px;
    padding-top: 100px;

		&__info {
      margin-bottom: 50px;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;

      .contacts__socials {
        display: none;
      }
		}

		&__title {
      color: #ffffff;
		}

		&__subtitle {
      color: #ffffff;
		}

		&__socials {
      margin-top: 0;
		}

		&__form {
      margin-bottom: 100px;
    }

    &__mobile-socials {
      display: block;
      li {
        color: #ffffff;
        font-size: 18px;
        line-height: 180%;
      }
    }
    
  }

  .socials {

      &__item a {
        max-width: 100%;
      }

      &__name {
        color: #ffffff;
      }
  }
  .form {
    padding: 0;

      &__item {
        margin-bottom: 30px;

        input {
          padding-left: 30px;
        }
      }

      &__icon {
        top: 12px;
        svg {
          width: 13px;
          height: auto;
        }
      }

      &__btn-wrapper {
        text-align: center;
      }

      &__btn {
        max-width: 400px;
        width: 100%;
      }
  }
  .leads {
    .container {
      max-width: 100%;
    }

    &__slider {
      height: 600px;
    }


    &__title {
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 40px;
    }

    &__text {
      font-size: 14px;
      line-height: 160%;
    }
}

}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 70px;
    .container {
      max-width: 100%;
    }
    &__foot {
      display: none;
    }
    &__slider {
      display: none;
    }
    &__mobile {
      display: block;
      .hero__foot {
        display: block;
        padding-bottom: 90px;

        ul {
          padding-left: 0;
          align-items: flex-start;
          justify-content: space-between;
        }

        li {
          margin: 0 10px;
          text-align: center;
        }
      }
    }
    &__head {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .leads {
    background: url('../images/leads-bg-mob.jpg') center / cover no-repeat;
    .swiper-pagination {
      display: none;
    }
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
